# ModSecurity NGINX options
LOGLEVEL=info
SERVER_TOKENS=off
SERVERNAME=modsec-proxy
#MODSEC_RULE_ENGINE=off
NGINX_ALWAYS_TLS_REDIRECT=on
BACKEND=http://web:8080
OVERRIDE_UPSTREAM_CSP=true
CSP="default-src 'none'; object-src 'none'; base-uri 'none';  default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; frame-ancestors 'self'; form-action 'self'"
SSL_CIPHERS="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS"
SSL_PREFER_CIPHERS=on
SSL_PROTOCOLS="TLSv1 TLSv1.1 TLSv1.2"
PROXY_TIMEOUT="60s"
# - SSL_CERT=/keys/cert.pem
# - SSL_CERT_KEY=/keys/privkey.pem
# ModSecurity options
MODSEC_REQ_BODY_LIMIT=200000000


#### COMMON ENV VARS
#- HOSTNAME=web
#- BACKEND_PORT443=http://web:8143
#- BACKEND_PORT80=http://web:8181
# - DNS_SERVER=127.0.0.11
# - DNS_SERVER=192.168.3.1
# - ERRORLOG=/var/log/nginx/error.log # default
# - LOGLEVEL=warn #default
# - PORT=80 # default
# - SSL_PORT=443 # default
#### NGINX ENV VARS
# - SERVER_NAME=localhost # default
# - USER=nginx # default
# - WORKER_CONNECTIONS=1024 # default
#### CRS ENV VARS
# - ANOMALY_INBOUND=5 #default
# - ANOMALY_OUTBOUND=4 # default
# - BLOCKING_PARANOIA=1 # default
#- CSP="default-src 'self' custom.domain.ee"
# - PARANOIA=1 # default
#### MODSEC ENV VARS
# - MODSEC_PCRE_MATCH_LIMIT_RECURSION=100000 # default
# - MODSEC_PCRE_MATCH_LIMIT=100000 #default
# - MODSEC_REQ_BODY_ACCESS=on # default
#- MODSEC_REQ_BODY_LIMIT=200000000
# - MODSEC_REQ_BODY_NOFILES_LIMIT=131072 #default
# - MODSEC_RESP_BODY_ACCESS=on #default
# - MODSEC_RESP_BODY_LIMIT=1048576 # default
# - MODSEC_RULE_ENGINE=on # default
# - SSL_CERT=/keys/cert.pem
# - SSL_CERT_KEY=/keys/privkey.pem
# volumes:
# - ./rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf:/opt/owasp-crs/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
# - ./rules/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf:/opt/owasp-crs/rules/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf
#   - ./x.org/cert.pem:/keys/cert.pem
#   - ./x.org/privkey.pem:/keys/privkey.pem